:root {
	--icarus-color: #8080ff;
	--dark: #343a40;
	--card: #363636;
	--card-title: #afafaf;
	--card-text: #6e6e6e;
	--scroll-bar-color: #222222;
	--scroll-bar-bg-color: #363636;
}

/* Required for bootstrap to work, fixes whitescreen bug */
.bootstrap-fix {
	background-color: transparent !important;
}

.container-height {
	height: auto;
	max-height: 900px;
	overflow-y: hidden;
}

.icarus-color {
	color: var(--icarus-color);
}

.card-color {
	background-color: var(--card);
}

.card-title-color {
	color: var(--card-title);
}

.card-text-color {
	color: var(--card-text);
}

.nav-bg-color {
	background-color: var(--card) !important;
}

/* Override bootstrap navbar active & link color */
.active,
.nav-link:hover,
.nav-link:focus {
	color: var(--icarus-color) !important;
}

/* Override bootstrap button style */
.btn:focus,
.btn:active {
	outline: none !important;
}

.btn-primary {
	background-color: var(--icarus-color) !important;
	border-color: var(--icarus-color);
	box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.btn-primary:focus,
.btn-primary.disabled {
	border-color: var(--icarus-color);
}

/* Scrollbar */
*::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, 0.5);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--scroll-bar-color);
	border-radius: 20px;
	border: 3px solid var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-track {
	background: var(--scroll-bar-bg-color);
}

.scrollbar-properties {
	overflow: scroll;
	overflow-x: hidden;
	height: 520px;
}

/* Navbar version label */
.version-label {
	font-size: 12px;
}

/* Navbar github icon button */
.github {
	font-size: 24px;
	color: white;
}
